header {
  background-image: url(../../../public/images/bg-header-desktop.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #5ba4a4;
  min-height: 15vh;
}

@media (max-width: 450px) {
  header {
    background-image: url(../../../public/images/bg-header-mobile.svg);
  }
}
