.card--container {
    // border: 3px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    box-shadow: 0 0 5px 5px rgba(0,0,0,.1);
    padding: 15px;
    gap: 5px;
    .card--text{
        // border: 3px solid green;
        margin: 5px;
        display: flex;
        flex-direction: column;
        gap: .5rem;
        h3{
            transition-duration: 200ms;
        }
        h3:hover {
            color: hsl(180, 29%, 50%);
            cursor: pointer;
        }
        ul{
            display: flex;
            gap: 1.5rem;
            color:hsl(180, 8%, 52%);
            li:first-child{
                list-style: none;
            }
        }
        
    }
    .card--left{
        // border: 3px solid blue;
        display: flex;
        gap: 1rem;
    }
    .card--right{
        display: flex;
        align-items: center;
        justify-content: end;
        gap: 1rem;
        // border: 3px solid red;
        padding-right: 1.5rem;
     li{
        //  display: flex;
        //  justify-content: center;
        //  align-items: center;
        //  text-align: center;
         padding: 5px 7px;
         font-weight: 700;
         background-color: hsl(180, 31%, 95%);
        list-style: none;
        color:hsl(180, 29%, 50%);
        transition-duration: 250ms;
        border-radius: 5px;
     }  
     li:hover{
         background-color: hsl(180, 29%, 50%);
         color: white;
         cursor: pointer;
     }
    }
}
.card--name{
    display: flex;
    gap: 1rem;
    // border: 2px solid orangered;
    h4{
        color: hsl(180, 29%, 50%);
    }
}
.new--logo{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(180, 29%, 50%);
    color: white;
    border-radius: 30px;
    padding: 5px 8px;
}
.featured--logo{
    background-color: black;
    color: white;
    border-radius: 30px;
    padding: 5px 8px;
}